.title {
    text-align: center;
    font-weight: 300;
    padding: 20px;
}
#start-button {
    text-align: center;
    width: 100px;
    border-style: solid;
    padding: 10px;
    border-color: gainsboro;
    background-color: rgb(81, 47, 104);
    color: white;
}

#option-one {
    text-align: center;
}

#option-two {
    text-align: center;
}

#option-three {
    text-align: center;
}

#option-four {
    text-align: center;
}
#submission {
    text-align: center;
}
#label {
    text-align: center;
}

.container {
    text-align: center;
}

.correct {
    border-style: solid;
    border-color:gray;
    text-align: center;
    width: fit-content;
    padding: 10px;
    background-color: azure;
}

.incorrect {
    border-style: solid;
    border-color:gray;
    text-align: center;
    width: fit-content;
    padding: 10px;
    background-color: azure
}

.blank {
    padding: 10px;
    text-align: center;
    opacity: 0;
}

.final-box {
    text-align: center;
    border: 5px, solid, black;
}
.starter {
    text-align: center;
}

.timer {
    text-align: right;
}